<!-- ImageCard3

    Used by the orders page to show the list of items ordered by a user along with their information

    authors: Amimul Bhuiyan, Rachid Sassine, Elvin Valdez
    
    
    WE MADE HEAVY EDITS AND CHANGES (like converting to ejs) SO THAT IT FITS MORE 
    WITH THE STYLE OF THE WEBSITE THAT WE WANT BUT THE TEMPLATE
     WE GOT IT FROM is: https://freefrontend.com/bootstrap-cards/ author: 3psy0n 
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/imagecards.css">
    
    
    <% for( var i=0; i<itemList.length; i++ ){ %>
    
        <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src= /imagefileserver/<%= itemList[i].image_location %> alt= <%= itemList[i].name %> />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="/viewsingleart/<%= itemList[i].item_id %>"> <%= itemList[i].item_name %> </a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Artist: <%= itemList[i].seller %>  Phone Number: <%= itemList[i].phone %> 
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt"> This item was bought by <%= itemList[i].username %> for <%=itemList[i].price%> </div>
            </div>
        </article>
    
    <% } %>